*
{
                 margin: 0px;
}

body
{
                 background-image: url("./imagem/fundo.jpg");
                 background-size: cover;
}

img
{
                 width: 50%;
                 position: absolute;
                 margin-top: 10%;
                 margin-left: 27%;
}

iframe#tela
{
                 margin-left: 33%;
                 margin-top: 14%;
                 width: 38%;
                 height: 43vh;
                 position: relative;
}

section img
{
                 width: 4%;
                 margin: 11px;
                 left: -12%;
                 top: -15vh;
                 position: relative;
                 border-radius: 50%;
                 box-sizing: border-box;
}

section img:hover
{
                 transition: translate(-3px,-3px);
                 border: 2px solid rgba(255, 255, 255, 0.459);
}

section
{
                 text-align: right;
                 margin-top: -15%;
}